* {

    box-sizing: border-box;
}

body {
    background-color: #46705d;
}

/* Remove margins and padding from the list */
ul {
    margin: 0;
    padding: 0;
}

/*Lista creda a partir de js, pero aunque se cree apartee necesita estilo  */
ul li {
    
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #fffdfd;
    font-size: 18px;
    transition: 0.2s;
    list-style: none;
}
/* ul:hover{
    background-color: #000000;
    cursor: pointer;
} */
/* cambia segundo es even/odd */
/* ul li:nth-child(even) {
    background: #fffefe;
} */

/* Hacemos que se agregue esta clase con js para que cuando se marque se quede "tachada" */
ul li.checked {
    background: #b6b0b0;
    color: #fff;
    text-decoration: line-through;
}
/* Style the close button */
.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
}

.close:hover {
    background-color: #f44336;
    color: white;
}


.header {
    background-color: #5B9279;
    padding: 30px 40px;
    color: white;
    text-align: center;
}



input {
    margin: 10px;
    border: none;
    border-radius: 0;
    width: 100%;
    padding: 10px;
    float: left;
    font-size: 16px;
}

/* Style the "Add" button */
.addBtn {
    margin: 20px;
    padding: 10px;
    width: 25%;
    background: #d9d9d9;
    color: #555;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
}

.addBtn:hover {
    background-color: #bbb;
}

.cuadrado {

    width: 80%;
    margin: auto;
}

.filterBtn {
    padding: 10px;
    width: 25%;
    background: #d9d9d9;
    color: #555;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
}

.contenedor {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}


.copyrigth {
    margin: 20px;
    display: flex;
    justify-content: center;
}