html {
}

body {
  background: #5146ce;
}

.App {
  font-family: sans-serif;
  margin: auto;
  height: 100%;
  width: 80%;
 

}
.vstack li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  margin: auto;
  width: 80%;
}

.vstack {
  margin: 10px;
  background-color: #ba46ce;
}

.form-floating button {
  justify-content: center;
}
