body {
  background: #5146ce;
}

.App {
  font-family: sans-serif;
  margin: auto;
  height: 100%;
  width: 80%;
}

.list-group-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  margin: auto;
  width: 100%; 
  
}
.addButton{
  display: flex;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.overflow{
  margin: 10px;
}
.margin{
  margin: 10px;
}
.vstack {
  margin: 10px;
  background-color: #ba46ce;
}
